.Rproj.user
.Rhistory
.RData
.Ruserdata
gadm41_ECU_3.cpg
gadm41_ECU_3.dbf
gadm41_ECU_3.prj
gadm41_ECU_3.shp
gadm41_ECU_3.shx
tmax.2012.nc
tmax.2013.nc
tmax.2018.nc
tmax.2019.nc
tmin.2012.nc
tmin.2013.nc
tmin.2018.nc
tmin.2019.nc
precip.2012.nc
precip.2013.nc
precip.2018.nc
precip.2019.nc
1_BDD_ENS2018_f1_personas.dta
2_BDD_ENS2018_f1_hogar.dta
ensanut_f1_personas.dta
ensanut_f1_vivienda.dta
Weather_HealthPerceiption_data.dta